extends ../layout

block head
  link(rel="stylesheet", href="/css/navbar-top-fixed.css")

block content
  include ../shared/nav

  main
    //- "="の後のテキストはエスケープされる
    h1= title
    hr
    //- p Welcome to #{title}

    div.mb-2
      a.btn.btn-success(href="/users/new") New
    //- divは省略可能
    .table-responsive
      table.table.table-striped
        thead
          tr
            th #
            th 氏名
            th 生年月日
            th 組織
            th 
        tbody
          each user in userList.values()
            tr
              td.align-middle #{user.identifier().value()}
              td.align-middle #{user.fullName()}
              td.align-middle #{user.dateOfBirth().value()}
              td.align-middle #{user.organization().value()}
              td.align-middle 
                a.btn.btn-secondary(href=`/users/${user.identifier().value()}`).me-1 Show
                a.btn.btn-info(href=`/users/${user.identifier().value()}/edit`).me-1 Edit
                form.d-inline(action=`/users/${user.identifier().value()}?_method=DELETE`, method="POST")
                  input(type="hidden", name="_csrf" value=csrfToken)
                  button.btn.btn-danger(type="submit") Delete

    //- TODO: tableタグを使わないようにしたい
    //- //- divは省略可能
    //- .container.c-table
    //-   .row.c-table-header
    //-     .col-3 氏名
    //-     .col-3 生年月日
    //-     .col-3 組織
    //-     .col-3
    //-   .row.c-table-row
    //-     .col-3 Yamada Taro
    //-     .col-3 1999-11-22
    //-     .col-3 A company
    //-     .col-3
    //-       a.btn.btn-info(href="#").me-1 Edit
    //-       a.btn.btn-danger(href="#") Delete
    //-   .row.c-table-row
    //-     .col-3 Yamada Taro
    //-     .col-3 1999-11-22
    //-     .col-3 A company
    //-     .col-3
    //-       a.btn.btn-info(href="#").me-1 Edit
    //-       a.btn.btn-danger(href="#") Delete
