extends ../layout

block head
  link(rel="stylesheet", href="/css/navbar-top-fixed.css")

block content
  include ../shared/nav

  main
    //- "="の後のテキストはエスケープされる
    h1= title
    hr

    form(action="", method="get")
      input(type="hidden", name="_csrf" value=csrfToken)
      div.form-row
        div.form-group.col-md-2
          label(for="inputFirstName") FirstName
          input#inputFirstName.form-control(type="text", name="firstName" disabled value=`${user.firstName().value()}`)
        div.form-group.col-md-2
          label(for="inputLastName") LastName
          input#inputLastName.form-control(type="text", name="lastName" disabled value=`${user.lastName().value()}`)
      div.form-row
        div.form-group.col-md-4
          label(for="inputDateOfBirth") Date of birth
          input#inputDateOfBirth.form-control(type="date" name="dateOfBirth" disabled value=`${user.dateOfBirth().value()}`)
      div.form-row
        div.form-group.col-md-4
          label(for="inputOrganization") Organization
          input#inputOrganization.form-control(type="text" name="organization" disabled value=`${user.organization().value()}`)

      //- div.my-2
      //-   button.btn.btn-primary(type="submit") Save
